a {
  text-decoration: none;
}
body {
  background-size: cover;
  color: white;
  font-family: Arial;
  margin: 0;
}
.carousel-inner  .item  img{
margin:auto;
width:1000px;
height:1000px;
max-width: 10000px;
max-height: 1000px;
}

h1 {
  font-family: 'Monoton', cursive;
}
img {
  width: 33%;
  height: auto;
  vertical-align: middle;
}
img.team {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.general {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  opacity: 0.7;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url("images/aboutbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
p {
  color: white;
  font-size: 20px;
}
.smallerparagraph {
  font-size: 15px;
}
#social-buttons {
  text-align: center;
  color: black;
}
ul {
  text-align: center;
}
ul.nav li{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
* {
  box-sizing: border-box;
}
#mojito { position: absolute; visibility: visible; left: 20px; top: 700px; height: 100px; width: 700px; z-index: 200; }
#cubalibre { position: absolute; visibility: visible; left: 700px; top: 700px; height: 400px; width: 1000px; z-index: 200; }
#people { position: absolute; visibility: visible; left: 200px; top: 700px; height: 800px; width: 1000px; z-index: 200; }
/* style that needs to overide general*/
.dropdown {
  display:inline-block;
  position: relative;
}
.dropdown_container {
  text-align:center;
}
.general h2 {
  color: rgba(255, 184, 77, 1);
}
