
body {
  background-size: cover;
  color: white;
  font-family: Arial;
  margin: 0;
}

p {
  color: white;
}

ul.nav li{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 33%;
  height: auto;
  vertical-align: middle;
}

img.team {
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

.carousel-inner  .item  img{
margin:auto;
width:1000px;
height:1000px;
max-width: 10000px;
max-height: 1000px;
<<<<<<< HEAD
=======
}

#social-buttons {
  text-align: center;
>>>>>>> parent of 8dc537d... About page layout
}

/* css related to the about page */
.jumbotron {
  opacity: 0.7;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url("images/aboutbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}
<<<<<<< HEAD

<<<<<<< HEAD
.dropdown {
  position: relative;
=======
.dropdown{
  display:inline-block;
>>>>>>> ce073f2febcb8cb56490168e7892dad1fb7f5892
}
.dropdown_container {
  text-align:center;
}


#mojito { position: absolute; visibility: visible; left: 20px; top: 700px; height: 100px; width: 700px; z-index: 200; }
#cubalibre { position: absolute; visibility: visible; left: 700px; top: 700px; height: 400px; width: 1000px; z-index: 200; }
#people { position: absolute; visibility: visible; left: 200px; top: 700px; height: 800px; width: 1000px; z-index: 200; }
